@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');

/* General styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Edu NSW ACT Foundation', cursive, sans-serif;
    color: #fff;
}

body {
    background-color: rgb(20, 20, 24);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
.heading {
    text-align: center;
    padding-top: 150px;
    font-size: 50px;
}

/* Main application container styles */
.application {
    background: #fff;
    width: 80%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 60px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Game section styles */
.game {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game h2 {
    font-size: 24px;
    color: #000;
}

/* Button styles */
.btn {
    background: #fff;
    color: #222;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 24px;
    font-weight: 600;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

.btn.correct {
    background-color: rgba(23, 100, 16, 0.959);
}

.btn.incorrect {
    background-color: rgba(247, 9, 9, 0.479);
}

/* Footer styles */
footer {
    text-align: center;
    font-size: 2rem;
    margin-top: auto;
    background-color: #222;
    padding: 20px;
    color: #fff;
}